<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <div class="social-links">
          <ul class="social-media-list">
            <li>
              <a href="https://www.meetup.com/galway-information-technology/">Meetup</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/groups/14314350/">LinkedIn</a>
            </li>
            <li>
              <a href="https://discord.gg/6BV8A8DHbB">Discord</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-col">
        <p>© Galway IT Meetup Group 2023-2025.</p>
        <br/>
        <p>Galway IT Meetup Group hosts events for technology enthusiasts to network, socialise and learn in Galway, Ireland.</p>
        <br/>
        <p>If you would like to get involved, get in touch with <a href="https://www.linkedin.com/in/liamkrewer/">Liam</a>.</p>
      </div>
    </div>

  </div>
</footer>