
<div style="margin-top: 40px" class="wrapper">
  <div class="inner"> 
    <header id="header">
      <a href="/" class="logo"> Galway IT Meetup</a>
      <nav>
        <ul>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav>
    </header>
    
    <nav id="menu">
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a href="/past_events">Past Events</a>
        </li>
        <li>
          <a href="/upcoming_events">Upcoming Events</a>
        </li>
        <li><a href="/people">People</a></li>
        <li>
          <a href="/speaker-guidelines">Speaker Guidelines</a>
        </li>
        <li>
          <a href="/sponsorship">Sponsorships & Partnerships</a>
        </li>
        <li>
          <a href="/code-of-conduct">Code of Conduct</a>
        </li>
      </ul>
    </nav>
  </div>
</div>