  <head>
    <title>Galway IT Meetup</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=yes"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{{'assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{'assets/css/custom.css' | relative_url }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      defer
      data-domain="galwayit.org"
      src="https://plausible.io/js/script.file-downloads.outbound-links.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>

  