<!DOCTYPE html>
<html>
  <head>
    <title>Galway IT Meetup</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{{'assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{'assets/css/custom.css' | relative_url }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Wrapper -->
      <div class="wrapper">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="/" class="logo"> Galway IT Meetup</a>
            <nav>
              <ul>
                <li><a href="#menu">Menu</a></li>
              </ul>
            </nav>
          </header>

          <!-- Nav -->
          <nav id="menu">
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li>
                <a href="/listing/2025/06/09/past-events.html">Past Events</a>
              </li>
              <li>
                <a href="/listing/2025/06/09/upcoming-events.html"
                  >Upcoming Events</a
                >
              </li>
              <li>
                <a href="/speaker-guidelines">Speaker Guidelines</a>
              </li>
              <li>
                <a href="/sponsorship">Sponsorships & Partnerships</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Wrapper -->
      <div class="wrapper">
        <div class="inner">
          <!-- Main -->
          <section class="main">
            <header class="major">
              <h1>{{ page.title }}</h1>
            </header>

            <a href="#" class="image main"></a>
            {{content}}
          </section>
        </div>
      </div>

      <!-- Wrapper -->
      <div class="wrapper">
        <div class="inner">
          <!-- Footer -->
          <footer id="footer">
            <ul class="contact-icons">
              <li>
                <span
                  ><a href="https://www.instagram.com/galway.it.meetup/"
                    ><i class="icons fa-brands fa-instagram"></i></a
                ></span>
              </li>
              <li>
                <span
                  ><a
                    href="https://www.meetup.com/galway-information-technology"
                    ><i class="icons fa-brands fa-meetup"></i></a
                ></span>
              </li>
              <li>
                <span
                  ><a href="https://www.linkedin.com/groups/14314350/"
                    ><i class="icons fa-brands fa-linkedin"></i></a
                ></span>
              </li>
              <li>
                <span
                  ><a href="mailto:hello@galwayit.org"
                    ><i class="icons fa-solid fa-envelope"></i></a
                ></span>
              </li>
            </ul>
            <p class="copyright">
              &copy; Galway IT Meetup. All rights reserved.
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="{{'assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/jquery.nanogallery2.min.js"></script>
    <script src="{{'assets/js/browser.min.js' | relative_url }}"></script>
    <script src="{{'assets/js/breakpoints.min.js' | relative_url }}"></script>
    <script src="{{'assets/js/util.js' | relative_url}}"></script>
    <script src="{{'assets/js/main.js' | relative_url}}"></script>
  </body>
</html>
