<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Galway IT Meetup</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=yes"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />
    <script
      defer
      data-domain="galwayit.org"
      src="https://plausible.io/js/script.file-downloads.outbound-links.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>
  <body class="is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Wrapper -->
      <div class="wrapper">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="/" class="logo"> Galway IT Meetup</a>
            <nav>
              <ul>
                <li><a href="#menu">Menu</a></li>
              </ul>
            </nav>
          </header>

          <!-- Nav -->
          <nav id="menu">
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li>
                <a href="/listing/2025/06/09/past-events.html">Past Events</a>
              </li>
              <li>
                <a href="/listing/2025/06/09/upcoming-events.html"
                  >Upcoming Events</a
                >
              </li>
              <li>
                <a href="/speaker-guidelines">Speaker Guidelines</a>
              </li>
              <li>
                <a href="/sponsorship">Sponsorships & Partnerships</a>
              </li>
              <li>
                <a href="/code-of-conduct">Code of Conduct</a>
              </li>
            </ul>
          </nav>

          <!-- Banner -->
          <section id="banner">
            <div class="items">
              <section class="accent2">
                <h1>Past Events</h1>
                <p>
                  Take a look at our past events, where we discussed various
                  topics in the IT industry.
                </p>
                <ul class="actions special">
                  <li>
                    <a
                      href="/listing/2025/06/09/past-events.html"
                      class="button primary"
                      >More</a
                    >
                  </li>
                </ul>
              </section>
              <section class="accent3">
                <h1>Upcoming Events</h1>
                <p>Take a look at our upcoming events!</p>
                <ul class="actions special">
                  <li>
                    <a
                      href="/listing/2025/06/09/upcoming-events.html"
                      class="button primary"
                      >More</a
                    >
                  </li>
                </ul>
              </section>
            </div>
            <div class="slider">
              <article>
                <img
                  src="images/pic01.jpg"
                  alt=""
                  data-position="bottom right"
                />
              </article>
              <article>
                <img
                  src="assets/1.4/photos/10.jpeg"
                  alt=""
                  data-position="bottom right"
                />
              </article>
              <article>
                <img
                  src="images/pic02.jpg"
                  alt=""
                  data-position="bottom right"
                />
              </article>
              <article>
                <img
                  src="assets/1.7/photos/4.jpg"
                  alt=""
                  data-position="bottom right"
                />
              </article>
              <article>
                <img src="images/pic03.jpg" alt="" data-position="top left" />
              </article>
              <article>
                <img
                  src="assets/2.1/photos/4.jpg"
                  alt=""
                  data-position="bottom right"
                />
              </article>
            </div>
          </section>
        </div>
      </div>

      <!-- Wrapper -->
      <div class="wrapper">
        <div class="inner">
          <!-- Section -->
          <section class="main">
            <header class="major">
              <h2>Welcome to Galway IT Meetup</h2>
              <p>
                We are a community based in the PorterShed in Galway, Ireland.
                We meet monthly in Galway to discuss and learn about different
                topics of interest to those who work in tech or who just love
                it!
              </p>
            </header>
            <div class="features">
              <section>
                <span
                  class="icon solid fa-map-location-dot major accent2"
                ></span>
                <h3>Where?</h3>
                <p>
                  We're usually hosted by the
                  <a href="https://portershed.com/market-street/">PorterShed</a>
                  on Market Street in Galway. If you need directions, you can
                  find them
                  <a href="https://maps.app.goo.gl/vyqddN1QLvtxyzRx9">here</a>.
                </p>
              </section>
              <section>
                <span class="icon solid fa-envelope major accent4"></span>
                <h3>What?</h3>
                <p>
                  We've covered a huge range of topics, from AI developments to
                  Galway's surprising history with technology. We're always
                  looking for new speakers and topics, so if you have an idea,
                  please reach out!
                </p>
              </section>
              <section>
                <span
                  class="icon solid fa-solid fa-calendar-days major accent3"
                ></span>
                <h3>When?</h3>
                <p>
                  Our dates shift from month to month to faciltate our speakers.
                  Follow us on
                  <a href="https://www.instagram.com/galway.it.meetup/"
                    >Instagram</a
                  >
                  or
                  <a href="https://www.meetup.com/galway-information-technology"
                    >Meetup</a
                  >
                  to stay up to date with the next events.
                </p>
              </section>
            </div>
          </section>
        </div>
      </div>
      <div class="wrapper">
        <div class="inner">
          <!-- Section -->
          <section class="main accent3">
            <header class="major">
              <h2>Community Survey</h2>
              <p>
                We're always looking for feedback and ideas on events, talks and
                workshops to run! Click the link below to access a survey where
                you can pass us along your feedback.
              </p>
              <p>
                Want to talk about what your learned building your latest
                project? Or maybe you have an idea for a workshop you'd like to
                run? We'd love to hear from you! Fill out the survey or contact
                us directly for a chat!
              </p>
            </header>
            <ul class="actions fit">
              <li>
                <a
                  href="https://forms.gle/FXhGsr7U3yEpZkMR9"
                  class="button primary fit"
                  >Feedback Survey</a
                >
              </li>
            </ul>
          </section>
        </div>
      </div>

       {% include footer.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
